<div class="toast align-items-center cart-notification-bg" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="container">
    <div class="toast-body cart-notif-container">
      <div class="cart-notif-header-container">
        <div class="notif-header">
          <h3>Your Cart</h3>
        </div>
        <div class="notification-close-button">
          <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      {% for item  in cart_content %}
      <div class="cart-notif-body-container">
        <div class="card-notif-quantity"><strong>{{ item.quantity }}</strong></div>
        <div class="card-notif-image"> <img src={{ item.product.image_url }}></div>
        <div class="card-notif-name">
          <div>{{ item.product.name }}</div>
          <div><em>€ {{ item.product.price }}</em></div>
        </div>
        <div class="cart-notif-subtotal">€ {{ item.sub_total }}</div>
      </div>
      {% empty %}
      <div>Your Cart is empty.</div>
      {% endfor %}
      <div class="cart-notif-footer-container">
      </div>
   </div>
  </div>
</div>
