{% extends 'base.htmldjango' %}

{% block content %}
<section class="bread-crumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-dark"><a href={% url 'index' %}>Home</a>
      <li class="breadcrumb-item text-dark"><a href="{% url 'products' %}">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cart</li>
    </ol>
  </nav>
</section>

<section class="section-padding">
  <div class="container">
    <div class="cart-header text-center">
      <h2>My Cart</h2>
    </div>
    <div class="cart-content">
      {% if cart_content %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Quantity</th>
              <th scope="col">Product</th>
              <th scope="col"></th>
              <th scope="col">Unit Price</th>
              <th scope="col">Sub-total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart_content %}
            <tr>
              <th scope="row" class="quantity-row">
                <form class="modify-cart" action={% url 'modify_cart' item.product_id %} method="POST">
                  {% csrf_token %}
                  <label for="quantity"><em>Quantity</em></label>
                  <input type="number" min=1 value={{ item.quantity }} id="id_quantity_{{ item.product_id }}" data-product_id="{{ item.product_id }}" name="quantity" max="20">
                  <div class="button-container">
                    <input class="btn update-cart" type="submit" value="Update Cart" role="button">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                  <form class="remove-product" action= {% url 'remove_product' item.product_id %} method="POST">
                    {% csrf_token %}
                    <input class="btn remove_product" type="submit" value="Remove" role="button">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                  </form>
                  </div>

              </th>

              <td class="p-2 w-25">
                <img class="img-fluid rounded" src="{{ item.product.image_url }}">
              </td>
              <td>{{ item.product.name }}</td>
              <td>{{ item.product.price }}</td>
              <td>{{ item.sub_total }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <div class="no-items">
          You have no items in your cart.
        </div>
      {% endif %}
      {% if total %}
      <div class="cart-total-container">
        <div class="cart-total">
          <div>Total:</div><div class="cart-total-amt">€{{ total }}</div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
