/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans', san-serif;
}


.body-font {
  font-family: 'Raleway', sans-serif;
}

.main-header {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
}

.card-title.top-article-title,
.card-subtitle.top-article-author {
  padding: 1.25rem 1.25rem;
}

.card-img-top {
  max-height: 100%;
  max-width: 100%;
}

.products h2,
.about h2{
  font-family: 'Raleway', sans-serif;
  font-size: 3.5em;
  font-weight: 500;
}

.article-heading h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

/* General */

html {
  height: 100%;
}

.section-padding {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* --------------------------------------------------------------------------------- COLORS ------------------------------------------- */
.modal-content.modal-blue-bg {
  background-color: #0095AD;
  color: #FFFFFF;
}

/* --------------------------------------------------------------------------------- NAV-BAR & MODALS --------------------------------- */

#forgot-pass-modal h5.news-letter-modal-header {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

label.news-letter-modal-body {
  font-size: 1rem;
}

#id_email,
#id_login,
#id_password,
#signup_form input,
.auth-form input{
  border: solid 2px #fff;
  border-radius: 45px;
}

/* --------------------------------------------------------------------------------- HOME PAGE ---------------------------------------- */

.text-block{
  background-color: rgb(243, 255, 255);
}

.main-header{
  padding: 5vh 5vw;
}

.main-image-container {
  padding: 2rem 2rem;
}

.main-image {
  max-height: 100%;
  min-height: 50%;
  max-width: 100%;
  background-color: white;
  background-image: url('http://34.149.174.166/geert-pieters-0Z-r591z3DI-unsplash.jpg?project=sunny-passage-335520');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.head-line .card-body,
.top-article-row .card-body{
  padding: 1rem 0rem;
}

.main-header-anchor{
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
  padding: 0.2rem 0;
  overflow: hidden;
}

.main-header-anchor:hover{
  color: inherit;
}

.main-header-anchor::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 0.1rem;
  background-color: black;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.main-header-anchor:hover::after,
.main-header-anchor:focus::after{
    transform: translate3d(0,0,0);
  }

.main-header-author{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-decoration: none;
  color: grey;
  display: block;
  position: relative;
  margin: 0.75rem 0rem;
  padding: 0.2rem 0;
  overflow: hidden;
    }

.main-header-author:hover{
  text-decoration: underline;
    }

.top-article-anchor,
.top-article-author{
  color: inherit;
  text-decoration: none;
  }

.top-article-anchor:hover{
  color:inherit;
  text-decoration: underline;
    }

.top-article-author:hover{
  color: white;
    }

hr{
  /*border: 0;*/
  border-bottom: 1px dotted grey;
  
    }

  .top-article-card .card-body,
  .top-article-card .card-title {
    padding-top: 0rem;
  }

  .card-title.top-article-title,
  .card-subtitle.top-article-author{
    padding-left: 0rem;
    padding-right: 0rem;
  }
    
  .card-title.top-article-title{
    font-family: 'IBM Plex Sans', sans-serif;
  }

  .card-subtitle.top-article-author{
    font-family: 'Raleway', sans-serif;
  }

/* ----------------------------------------------------- HOME PAGE: LINKS TO SECTIONS ------------------------ */
  .section-links-heading {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 2rem;
    }

  .links-to-sections{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    }

  .link-block{
    width: 50%;
    color: grey;
    background-color: #ffa5ff;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem;

    }

  .link-block h3 {
    margin-top: 66%;
    padding: 1rem 1rem;
    }

  .link-block:hover{
    /* box-shadow: 
      0 2.8px 2.2px rgb(0,0,0),
      0 6.7px 5.3px rgb(0,0,0),
      0 12.5px 10px rgb(0,0,0),
      0 22.3px 17.9px rgb(0,0,0),
      0 41.8px 33.4.px rgb(0,0,0),
      0 100px 80px rgb(0,0,0); */
    box-shadow: 1px 2px 30px 4px rgba(0,0,0,0.4); 
    }

    .link-block-grey {
      background-color: #4c5454;
      color: #FFFFFF;
    }

    .link-block-blue {
      background-color: #0091AD;
      color: #FFFFFF;
    }

    .link-block-red {
      background-color: #F46966;
      color: black;
    }
    .link-block-lightblue {
      background-color: #E9F6FD;
      color: #4c5454; 
    }

.text-with-button{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  }

.text-with-button p{
  text-align: center;
  }

.text-with-button button{
  max-width: 30%;
  align-self: center;
  }

.welcome-text{
  text-align: center;
  margin-top: 10%;
  }

.image-container {
  max-height: 250px;
  }

.intro-image {
  max-height: 250px;
  max-width: 450px;
}

.products{
  height: auto;
  width: 100vw;
  background-color: #EE5A58;
  background-size: cover;
}

.carousel-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.carousel-inner > .carousel-item > img {
  width: 640px;
  height: 360px;
  }

.about {
  background-color: #4c5454;
  background-size: cover;
  height: auto;
  width: auto;
  }

.about-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.about-header {
  color: #FFFFFF;
  padding-left: 2%;
  }

.about-text {
  color: #FFFFFF;
  padding: 5% 5%;
  }

/* ---------------------------------------------------------------------------- FOOTER ------------------ */

.footer{
  background-color: #EE5A58;
  background-size: cover;
}

.footer-padding {
  padding:4rem 3rem; 
}

.footer-header {
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-col-header,
.section-link{
  color: #FFFFFF;
}

.col-divider {
 border-right: 3px solid white; 
}


/* --------------------------------------------- FORMS & FORM TEMPLATES ------------------------- */

/* --------------------------------------------- GENERAL ---------------------------------------- */
.input-field {
  border: solid 1px, #ffffff;
  border-radius: 45px;
}

.input-label,
.auth-form>p{
  font-family: 'Raleway', sans-serif;
  color: #FFFFFF;
}

.auth-form p:last-of-type{
  margin-bottom: 2.5rem;
}

.auth-form>button{
  margin: 0 auto;
  width: 66%;
}

/* --------------------------------------------- AUTH_BASE.HTML --------------------------------- */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form-container-child {
  width: 80%;
  height: 80%;
  padding: 2rem 2rem;
  background-color: #00a5cf;
  color: #FFFFFF;
}

/* ---------------------------------------------------------------------------------------- END OF FORM TEMPLATES -------------------------- */

/* ---------------------------------------------------------------------------------------- PRODUCT-PAGE ----------------------------------- */

.bread-crumb-container {
  font-family: 'IBM Plex Sans', sans-serif;
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.bread-crumb-container nav ol li a {
  color: black;
  text-decoration: none;
}

.bread-crumb-container nav ol li a:hover {
  text-decoration: underline;
} 

.product-showcase {
  max-height: 880px;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}


input[type=number] {
  border-top: 0rem none;
  border-left: 0rem none;
  border-right: 0rem none;
  width: 100%;
  height: 2rem;
  border-bottom: .1rem solid;
  margin-bottom: 1rem;
}

.product-page-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.product-image > img {
  width: 100%;
  max-height: 40%; 
  background-color: #4c5454;
}

.product-col-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.product-page-price {
  font-weight: 400;
  color: #4c5454;
}

.add-to-cart {
  width: 100%;
  height: 3.5rem;
  color: white;
  background-color: #00A5CF;
  border-radius: 45px;
  padding: 1rem .5rem;
  margin: 1rem 0rem;
}

/* -------------------------------------------------------------------------------------------------- CART FORM --------------------------------------- */

.update-cart {
  height: 2rem;
  color: white;
  font-size: .75rem;
  background-color: #00A5CF;
  border-radius: 45px;
  margin-right: .5rem;
}

.remove_product {
  height: 2rem;
  color: black;
  background-color: #EE5A58;
  font-size: .75rem;
  border-radius: 45px;
  margin-left: .5rem;
}

.remove_product:hover{
  color: white;
}

.button-container{
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

form.modify-cart input[type=number]{
  width: 80%;
}

.also-bought {
  display: inline;
}

/* --------------------------------------------------------------------------------------- LOGIN.HTML ------------------------ */

.login-bg {
  background-color: #00a5cf;
  color: #FFFFFF;
}

.login-form,
.signup,
.auth-form {
  margin-left: 1rem;
  padding-left: 1rem;
}


/* --------------------------------------------- ARTICLES -------------------------------------- */
.article-card-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-card-container .card {
  width: 25%;
  margin: 1rem 1rem;
}

.article-card-container .card .card-img-top {
  width: 100%;
}

.article-card:hover .article-card.card-img-top {
  background: #4c5454;
}

.article-card:hover .article-card.card-body {
  background-color: #0091AD;
}

.article-card-author {
  color: #FFFFFF;
  text-decoration: none;
  margin: 1rem 0rem;
  padding: 1rem 0rem;
}

.article-card-title{
  color: #FFFFFF;
  text-decoration: none;
}

.article-card-title:hover{
  color: #FFFFFF;
}

.article-card-author:hover {
  text-decoration: underline;
  color: #FFFFFF;
}



/* --------------------------------------------- ARTICLE_PAGE ---------------------------------- */
.article-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
}

.article-title h2{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.75rem;
  font-weight: 600;
}

.article-title p{
  font-size: 1.5rem;
  font-family: 'IBM PLex Sans', sans-serif;
  font-weight: 300;
}

.author-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 6rem;
  padding: 2rem 0rem;
}

.profile-picture img {
  max-height: 75px;
  max-width: 75px;
  border-radius: 50%;
  margin-right: 3rem;
}

.sub-header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-header{
  margin-left: 6rem;
  padding: 1rem 0rem;
}

.sub-header h5 {
  font-size: 2.25rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
}

.article-container {
  margin-left: 6rem;
  padding: 2rem 0rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1.33rem;
  }

/* --------------------------------------------- CART ------------------------------------------- */

  .quantity-row {
    width: 6rem;
  }

  .cart-total{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600; 
  }

  .cart-total div{
    max-width: 20%;
  }

  .cart-total-amt {
    font-weight: 400;
    padding-left: .5rem;
  }

/* --------------------------------------------- MEDIA QUERIES ---------------------------------- */

@media only screen and (max-width: 577px) {

  .product-col-padding {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .form-container-child {
    width: 100%;
    height: 100%;
    padding: 1rem 0rem;
  }
  
  .auth-form {
    margin: 1rem 1rem;
    padding: 1rem 1rem;
  }

  .input-label,
  .auth-form > p label{
    display: block;
  }

  .auth-form>button{
    margin: 0 auto;
    width: 100%;
  }
  .links-to-sections {
    flex-direction: column;
  }
  .link-block {
    width: 80%;
  }
}
