/* FONT FAMILY */

@import url('https://fonts.googleapis.com/css2?family=Armata&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Milonga&family=Raleway:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');

.body-font {
  font-family: 'Raleway', sans-serif;
}

.main-header {
  font-family: 'Martel Sans', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 40px 20px;
}


.products h2,
.about h2{
  font-family: 'Raleway', sans-serif;
  font-size: 3.5em;
  font-weight: 500;
}

.article-heading {
  padding: 20px 10px;
}

.article-heading h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5em;
  font-weight: 500;
}

/* General */

html {
  height: 100%;
}

.section-padding {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* --------------------------------------------------------------------------------- COLORS ------------------------------------------- */
.modal-content.modal-blue-bg {
  background-color: #0095AD;
  color: #FFFFFF;
}

/* --------------------------------------------------------------------------------- NAV-BAR & MODALS --------------------------------- */

#forgot-pass-modal h5.news-letter-modal-header {
  font-family: 'Martel Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

label.news-letter-modal-body {
  font-size: 1rem;
}

#id_email,
#id_login,
#id_password {
  border: solid 2px #fff;
  border-radius: 45px;
}

/* --------------------------------------------------------------------------------- HOME PAGE ---------------------------------------- */

.text-block{
  background-color: rgb(243, 255, 255);
}

.main-header{
  padding: 5vh 5vw;
}

.hero-lower{
  padding: 5vh 5vw 5vh 5vw;
}

.text-with-button{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.text-with-button p{
  text-align: center;
}

.text-with-button button{
  max-width: 30%;
  align-self: center;
}

.welcome-text{
  text-align: center;
  margin-top: 10%;
}

.image-container {
  max-height: 250px;
}

.intro-image {
  max-height: 250px;
  max-width: 450px;
}

.products{
  height: auto;
  width: 100vw;
  background-color: #EE5A58;
  background-size: cover;
}

.carousel-container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.about {
  background-color: #4c5454;
  background-size: cover;
  height: auto;
  width: auto;
}

.about-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-header {
  color: #FFFFFF;
  padding-left: 2%;
}

.about-text {
  color: #FFFFFF;
  padding: 5% 5%;
}

/* ---------------------------------------------------------------------------- FOOTER ------------------ */

.footer{
  background-color: #00A5CF;
  background-size: cover;
}

.footer-padding {
  padding:4rem 3rem; 
}

.footer-header {
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-col-header,
.section-link{
  color: #FFFFFF;
}

.col-divider {
 border-right: 3px solid white; 
}

/* --------------------------------------------- PRODUCT-PAGE ----------------------------------- */

.product-showcase {
  max-height: 880px;
}

input[type=number] {
  border-top: 0rem none;
  border-left: 0rem none;
  border-right: 0rem none;
  width: 100%;
  height: 2rem;
  border-bottom: .1rem solid;
  margin-bottom: 1rem;
}

.product-page-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.product-image > img {
  width: 100%;
  max-height: 40%; 
  background-color: #4c5454;
}

.product-col-padding {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.product-page-price {
  font-weight: 400;
  color: #4c5454;
}

.add-to-cart {
  width: 100%;
  height: 3.5rem;
  color: white;
  background-color: #00A5CF;
  border-radius: 45px;
  padding: 1rem .5rem;
  margin: 1rem 0rem;
}

.also-bought {
  display: inline;
}

/* --------------------------------------------------------------------------------------- LOGIN.HTML ------------------------ */

.login-bg {
  background-color: #00a5cf;
  color: #FFFFFF;
}

.login-form {
  margin-left: 1rem;
  padding-left: 1rem;
}

/* --------------------------------------------- MEDIA QUERIES ---------------------------------- */

@media only screen and (max-width: 577px) {

  .product-col-padding {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
};
