{% extends 'base.htmldjango' %}
{% load static %}

{% block extracss %}
  

{% endblock %}

{% block content %}
<section class="bread-crumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item text-dark"><a href={% url 'index' %}>Home</a>
      <li class="breadcrumb-item text-dark"><a href="{% url 'subscriptions' %}">Subscriptions</a></li>
      <li class="breadcrumb-item active" aria-current="page">Thank You</li>
    </ol>
  </nav>
</section>

<section class="section-padding">
  <div class="container">
    <div class="cart-header text-center">
      <h2></h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          
          <img class="img-fluid" src="https://storage.googleapis.com/ci_project_image_bucket/rocket-image.png">
        </div>
        <div class="col-12 col-md-8">
          <div class="checkout-form-header text-center pb-4">
            <h3>Thank You</h3>
          </div>
          <div>
            <h4>
              Your Subscription has been successfully completed
            </h4>
          </div>
            <h5>
              An email with the details has been sent your email account.
            </h5>
            <table class="table">
              <tbody>
                <tr>
                  <td>Payment Email:</td>
                  <td>{{ customer.email }}</td>
                </tr>
                <tr>
                  <td>
                    Payment Name:
                  </td>
                  <td>{{ customer.name }}</td>
                </tr>
                <tr>
                  <td>Your Order</td>
                  <td>{{ service }}</td>
                  <td>€{{ session.payment_amount }}</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
