{% extends "account/auth_base.html" %}
{% load static %}

{% load i18n %}

{% load account socialaccount %}


{% block auth_form %}
    <h2 class="display-2 text-center">Sign In</h2>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans "or" %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p class="text-center">{% block trans %}No Account Yet? <a href= "{{ signup_url }}">Sign Up Here!</a>{% endblock trans %}</p>
    {% endif %}

    <form class="auth-form login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button type="submit" class='btn btn-primary'>{% trans "Sign In" %}</button>
    </form>

{% endblock %}
