<footer>
  <div class="footer-padding footer">
    <h2 class="display-2 footer-header text-center">Daily News</h2>
    <h3 class="text-start footer-col-header">Sections</h3>
    <div class="container">
      <div class="row">
        <div class="col text-center col-divider">
          <p class="section-link"><a href= {% url 'articles' %} >Articles</a></p>
          <p class="section-link"><a href= {% url 'products' %} >Store</a></p>
          <p class="section-link"><a>Crime</a></p>
          <p class="section-link"><a>Legal History</a></p>
        </div>
        <div class="col text-center">
          <p class="section-link"><a>United States</a></p>
          <p class="section-link"><a>United Kingdom</a></p>
          <p class="section-link"><a>Jurisprudence</a></p>
          <p class="section-link"><a>Torts and Delict</a></p>
        </div>
      </div>
    </div>
  </div>

</footer>
