<footer>
  <div class="footer-padding footer">
    <h2 class="display-2 footer-header text-center">Daily Legal News</h2>
    <div class="container">
      <div class="row">
        <div class="col text-center col-divider">
          <p class="section-link"><a href= {% url 'articles' %} >Articles</a></p>
          <p class="section-link"><a href= {% url 'section' 'bailment' %} >Bailment</a></p>
          <p class="section-link"><a href={% url 'section' 'crime' %}>Crime</a></p>
          <p class="section-link"><a href={% url 'section' 'legal-hist' %}>Legal History</a></p>
        </div>
        <div class="col text-center">
          <p class="section-link"><a href={% url 'section' 'us-law' %}>United States</a></p>
          <p class="section-link"><a href={% url 'section' 'uk-law' %}>United Kingdom</a></p>
          <p class="section-link"><a href={% url 'section' 'jurisprudence' %}>Jurisprudence</a></p>
          <p class="section-link"><a href={% url 'section' 'torts' %}>Torts and Delict</a></p>
        </div>
      </div>
    </div>
  </div>

</footer>
