{% extends 'base.htmldjango' %}
{% block content %}
<section class="user-profile">
  <div class="container">
    <div class="row">
      <div class='col-12 col-md-6 profile-form'>
        {{ form | crispy }}
      </div>
      <div class="col-12 col-md-6 my-profile">
        <h3>Subscription Information </h3>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Subscription Type</td>
              <td>{{ profile.subscription.name }}</td>
            </tr>
            <tr>
              <td>Subscription Amount</td>
              <td>{{ profile.subscription_amount }}</td>
            </tr>
            <tr>
              <td>Start Date</td>
              <td>{{ profile.payment_start_date }}</td>
            </tr>
            <tr>
              <td>Last Payment Date:</td>
              <td>{{ profile.last_payment_date }}</td>
            </tr>
            <tr>
              <td>Next Payment Date</td>
              <td>{{ profile.next_payment_date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

