{% extends 'base.htmldjango' %}
{% block content %}
<section class="user-profile">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 my-profile">
        <div class="text-center">
          <h3>{{ profile.user  }}'s Profile</h3>
        </div>
      </div>{% comment "End of column" %}{% endcomment %}
    </div> {% comment "End of Row" %}{% endcomment %}
    <div class="row">
      <div class="col-12 col-md-4">
        <div>
          <h3>Subscription Information </h3>
        {% if subscription %}        
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Subscription Type</td>
                <td>{{ subscription.sub_type }}</td>
              </tr>
              <tr>
                <td>Subscription Amount</td>
                <td>€ {{ subscription.sub_amount }}</td>
              </tr>
              <tr>
                <td>Start Date</td>
                <td>{{ subscription.sub_start }}</td>
              </tr>
              <tr>
                <td>Last Payment Date:</td>
                <td>{{ subscription.sub_last }}</td>
              </tr>
              <tr>
                <td>Next Payment Date</td>
                <td>{{ subscription.sub_next }}</td>
              </tr>
              <tr>
                <td>Subscription Status</td>
                <td>{{ subscription.sub_status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <form action={% url 'subscription_cancel' %} method="POST">
            {% csrf_token %}
            <input type="hidden" name="subId" value={{ subscription.sub_id }}>
            <button type="submit" class="btn grey-bg subscriber-button">Cancel Subscription</button>
          </form>
        </div>
        {% else %}
        <div> 
          <h2>You are currently not subscribed. Why not consider joining today?</h2>
          <a href={% url 'subscriptions' %} class="btn grey-bg">Subscribe Now</a>
        </div>
        {% endif %}
      </div>{% comment "End of column" %}{% endcomment %}
      <div class="col-12 col-md-8">
        <div>
          <h3>Recent Comments</h3>
          {% if comments %}        
          <table class="table">
            <tbody>
              <tr>
                <th>Date</th>
                <th>Article</th>
                <th>Comment</th>
              </tr>
              {% for comment in comments %}
              <tr>
                <td>{{ comment.date|timesince }}</td>
                <td><a href="{% url 'article_page' comment.article.id %}" class='profile-comments'>{{ comment.article }}</a></td>
                <td>{{ comment.body|truncatewords:20 }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div> 
          <h2>You have no comments.</h2>
        </div>
        {% endif %}
      </div>
    </div>{% comment "End of Row" %}{% endcomment %}
  </div>{% comment "End of container" %}{% endcomment %}
</section>
{% endblock content %}

